<launch>
  <arg name="camera" default="env_camera1"/>

	<!-- <include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch">
    <arg name="camera" value="$(arg camera)" />
	</include> -->

	<!-- tag_size_cm: size of edge of the black frame in cms -->
	<param name="tag_size_cm" value="5.9" /> 
	<node pkg="april_tag" name="april_tag_node" type="april_tag_node">
		<remap from="/camera/image_raw" to="/$(arg camera)/rgb/image_raw" />

		<param name="focal_length_x_px" value="616.3070678710938" />
		<param name="focal_length_y_px" value="621.8923950195312" />
		<param name="principal_point_x_px" value="318.1334228515625" />
		<param name="principal_point_y_px" value="244.0427703857422" />
		
		<param name="show_debug_image" value="false" />
	</node>

</launch>