<launch>
	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="camera_frame" />
    <param name="io_method" value="mmap"/>
  </node>

	<!-- tag_size_cm: size of edge of the black frame in cms -->
	<param name="tag_size_cm" value="5.9" /> 
	<node pkg="april_tag" name="april_tag_node" type="april_tag_node">
		<remap from="/camera/image_raw" to="/usb_cam/image_raw" />

    <!-- Parameters from AprilCal calibration -->
		<param name="focal_length_x_px" value="612.912288" />
		<param name="focal_length_y_px" value="610.781868" />
		<param name="principal_point_x_px" value="313.542021" />
		<param name="principal_point_y_px" value="227.436308" />
		
		<param name="show_debug_image" value="true" />
	</node>

</launch>